/.kernel-debug
/build/
/src/target/
Cargo.lock
.vs/
CMakeFiles/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
INSTALL.vcxproj
INSTALL.vcxproj.filters
obliteration.sln
src/cmake_install.cmake
src/CMakeFiles/
src/core-prefix/src/core-stamp/core-source_dirinfo.txt
src/core-prefix/tmp/core-cfgcmd.txt
src/core-prefix/tmp/core-mkdirs.cmake
src/core.vcxproj
src/core.vcxproj.filters
src/INSTALL.vcxproj
src/INSTALL.vcxproj.filters
src/obliteration.vcxproj
src/obliteration.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
