[package]
name = "gui"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[[bin]]
name = "gui"
path = "src/main.rs"

[dependencies]
bitfield-struct = "0.8.0"
gdbstub = "0.7.2"
gdbstub_arch = "0.3.1"
humansize = "2.1.3"
libc = "0.2.155"
obconf = { path = "../src/obconf", features = ["serde", "virt"] }
obfw = { git = "https://github.com/obhq/firmware-dumper.git", features = ["read", "std"] }
param = { path = "../src/param" }
pkg = { path = "../src/pkg" }
ciborium = "0.2.2"
serde = { version = "1.0.209", features = ["derive"] }
thiserror = "1.0"
uuid = { version = "1.10.0", features = ["serde", "v4"] }
x86-64 = { path = "../arch/x86-64" }
clap = { version = "4.5.20", features = ["derive"] }

[dependencies.slint]
git = "https://github.com/slint-ui/slint"
rev = "875ca075fb5b2dfe4c3ab0a499d5759412fc1395"
features = ["compat-1-2", "std", "accessibility", "raw-window-handle-06", "backend-winit", "renderer-skia"]
default-features = false

[target.'cfg(not(target_os = "macos"))'.dependencies]
ash = "0.38.0"

[target.'cfg(windows)'.dependencies.windows-sys]
version = "0.52.0"
features = [
    "Win32",
    "Win32_Foundation",
    "Win32_System",
    "Win32_System_Hypervisor",
    "Win32_System_Memory",
    "Win32_System_SystemInformation",
]

[target.'cfg(target_os = "macos")'.dependencies]
applevisor-sys = "0.1.3"
core-graphics-types = "0.1.3"
metal = "0.29.0"
objc = "0.2.7"

[build-dependencies]
cbindgen = "0.26.0"
slint-build = { git = "https://github.com/slint-ui/slint", rev = "875ca075fb5b2dfe4c3ab0a499d5759412fc1395" }
