name: CI (Linux)
on:
  workflow_call:
jobs:
  build:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Install System Packages
      run: |
        sudo apt-get update
        sudo apt-get install -y flatpak flatpak-builder
    - name: Add Flathub
      run: flatpak remote-add --user flathub https://flathub.org/repo/flathub.flatpakrepo
    - name: Cache Flatpak Runtimes
      id: cache-flatpak
      uses: actions/cache@v3.2.4
      with:
        path: ~/.local/share/flatpak/runtime
        key: ${{ runner.os }}-flatpak-runtime-${{ hashFiles('.github/workflows/ci-linux.yml') }}
    - if: ${{ steps.cache-flatpak.outputs.cache-hit != 'true' }}
      name: Install Flatpak Runtimes
      run: flatpak install --noninteractive flathub org.kde.Platform//6.4 org.kde.Sdk//6.4 org.freedesktop.Sdk.Extension.rust-stable//22.08
    - name: Build Flatpak
      run: flatpak-builder --default-branch dev build flatpak.yml
    - name: Export Flatpak
      run: flatpak build-export flatpak build
    - name: Bundle Flatpak
      run: flatpak build-bundle flatpak obliteration.flatpak io.github.obhq.Obliteration --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo
    - name: Upload Flatpak
      uses: actions/upload-artifact@v3
      with:
        name: obliteration-linux64
        path: obliteration.flatpak
