name: CI (Linux)
on:
  workflow_call:
jobs:
  build:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Install System Packages
      run: |
        sudo apt-get update
        sudo apt-get install -y flatpak flatpak-builder
    - name: Add Flathub
      run: flatpak remote-add --user flathub https://flathub.org/repo/flathub.flatpakrepo
    - name: Generate cache keys
      run: |
        echo "flatpak-runtime=${{ runner.os }}-flatpak-runtime-${{ hashFiles('flatpak.yml') }}" >> $GITHUB_OUTPUT
        echo "flatpak-build=${{ runner.os }}-flatpak-build-${{ hashFiles('flatpak.yml') }}" >> $GITHUB_OUTPUT
      id: cache-keys
    - name: Restore Flatpak runtimes
      uses: actions/cache/restore@v3
      with:
        path: ~/.local/share/flatpak/runtime
        key: ${{ steps.cache-keys.outputs.flatpak-runtime }}
      id: flatpak-runtime
    - name: Install Flatpak runtimes
      run: |
        flatpak install --noninteractive flathub \
          org.kde.Platform//6.6 org.kde.Sdk//6.6 \
          org.freedesktop.Sdk.Extension.rust-stable//23.08 \
          org.freedesktop.Sdk.Extension.llvm17//23.08
      if: ${{ steps.flatpak-runtime.outputs.cache-hit != 'true' }}
    - name: Restore build files
      uses: actions/cache/restore@v3
      with:
        path: .flatpak-builder
        key: ${{ steps.cache-keys.outputs.flatpak-build }}
    - name: Generate Flatpak branch
      run: |
        my $name;

        if ($ENV{GITHUB_REF} =~ /^refs\/pull\/(\d+)\//) {
          $name = "pr-$1";
        } else {
          $name = 'dev';
        }

        open(my $fh, '>>', $ENV{GITHUB_OUTPUT}) || die "Cannot open $ENV{GITHUB_OUTPUT}: $!\n";
        print $fh "flatpak-branch=$name\n";
      shell: perl {0}
      id: flatpak-branch
    - name: Update Rust-Lang
      run: rustup update stable
    - name: Build Flatpak
      run: flatpak-builder --default-branch ${{ steps.flatpak-branch.outputs.flatpak-branch }} build flatpak.yml
    - name: Export Flatpak
      run: flatpak build-export flatpak build
    - name: Bundle Flatpak
      run: flatpak build-bundle flatpak obliteration.flatpak io.github.obhq.Obliteration --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo
    - name: Cache build files
      uses: actions/cache/save@v3
      with:
        path: .flatpak-builder
        key: ${{ steps.cache-keys.outputs.flatpak-build }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
    - name: Cache Flatpak runtimes
      uses: actions/cache/save@v3
      with:
        path: ~/.local/share/flatpak/runtime
        key: ${{ steps.cache-keys.outputs.flatpak-runtime }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
    - name: Upload Flatpak
      uses: actions/upload-artifact@v4
      with:
        name: obliteration-linux-amd64
        path: obliteration.flatpak
