name: CI (Linux)
on:
  workflow_call:
jobs:
  build:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Install System Packages
      run: |
        sudo apt-get update
        sudo apt-get install -y flatpak flatpak-builder
    - name: Build Flatpak
      run: flatpak-builder --default-branch dev build flatpak.yml
    - name: Export Flatpak
      run: flatpak build-export flatpak build
    - name: Bundle Flatpak
      run: flatpak build-bundle flatpak obliteration.flatpak io.github.obhq.Obliteration --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo
    - name: Upload Flatpak
      uses: actions/upload-artifact@v3
      with:
        name: obliteration-linux
        path: obliteration.flatpak
