name: CI (Mac)
on:
  workflow_call:
jobs:
  build:
    name: Mac
    runs-on: macOS-12
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        cache: true
        cache-key-prefix: ${{ runner.os }}-install-qt-action
        version: 6.2.*
    - name: Cache CMake Build Files
      uses: actions/cache@v3.2.2
      id: cache-cmake
      with:
        path: |
          /home/runner/work/obliteration/obliteration/build
          /home/runner/work/obliteration/obliteration/src/target
        key: ${{ runner.os }}-cmake-${{ hashFiles('**/CMakeLists.*', '**/Cargo.lock', '**/Cargo.toml', '.github/workflows/*.yml') }}
    - name: Run CMake
      run: cmake --preset mac-release .
    - name: Build
      run: cmake --build --preset mac-release
