name: CI (Mac)
on:
  workflow_call:
env:
  CMAKE_BUILD_PARALLEL_LEVEL: '3'
jobs:
  build:
    name: Mac
    runs-on: macos-12
    env:
      CMAKE_PREFIX_PATH: qt/6.6.0/macos
      QT_URL_BASE: https://download.qt.io/online/qtsdkrepository/mac_x64/desktop/qt6_660/qt.qt6.660.clang_64/6.6.0-0-202310040910qtbase-MacOS-MacOS_12-Clang-MacOS-MacOS_12-X86_64-ARM64.7z
      QT_URL_SVG: https://download.qt.io/online/qtsdkrepository/mac_x64/desktop/qt6_660/qt.qt6.660.clang_64/6.6.0-0-202310040910qtsvg-MacOS-MacOS_12-Clang-MacOS-MacOS_12-X86_64-ARM64.7z
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Generate cache keys
      run: |
        require Digest::MD5;

        my $qt = Digest::MD5->new();

        foreach my $name (sort keys %ENV) {
          if ($name =~ /^QT_URL_/) {
            $qt->add($ENV{$name});
          }
        }

        open(my $output, '>>', $ENV{GITHUB_OUTPUT}) || die "Cannot open GITHUB_OUTPUT: $!";
        print $output "cargo=${{ runner.os }}-cargo\n";
        print $output "qt=${{ runner.os }}-qt-".$qt->hexdigest."\n";
      shell: perl {0}
      id: cache-keys
    - name: Restore Cargo home
      uses: actions/cache/restore@v4
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}
    - name: Restore Qt
      uses: actions/cache/restore@v4
      with:
        path: qt
        key: ${{ steps.cache-keys.outputs.qt }}
      id: qt-cache
    - name: Install Qt
      run: |
        env | while IFS= read -r line; do
          name=${line%%=*}
          value=${line#*=}

          if [[ $name == QT_URL_* ]]; then
            curl -Lo qt.7z "$value"
            7za x qt.7z -oqt
          fi
        done
      if: ${{ steps.qt-cache.outputs.cache-hit != 'true' }}
    - name: Update Rust
      run: rustup update stable
    - name: Add additional Rust targets
      run: rustup target add x86_64-unknown-none
    - name: Run CMake
      run: cmake --preset mac-release .
    - name: Build
      run: cmake --build --preset mac-release
    - name: Run tests
      run: cargo test --workspace --exclude core
      working-directory: src
    - name: Create Application Bundle
      run: |
        cmake --install build --prefix .
        mkdir dist
        mv obliteration.app dist/Obliteration.app
    - name: Fix library paths
      run: |
        app="dist/Obliteration.app/Contents/MacOS/obliteration"
        krn="dist/Obliteration.app/Contents/MacOS/obkrnl"

        install_name_tool -change '@rpath/QtWidgets.framework/Versions/A/QtWidgets' '@executable_path/../Frameworks/QtWidgets.framework/Versions/A/QtWidgets' "$app"
        install_name_tool -change '@rpath/QtGui.framework/Versions/A/QtGui' '@executable_path/../Frameworks/QtGui.framework/Versions/A/QtGui' "$app"
        install_name_tool -change '@rpath/QtCore.framework/Versions/A/QtCore' '@executable_path/../Frameworks/QtCore.framework/Versions/A/QtCore' "$app"

        otool -L "$app"
        otool -L "$krn"
    - name: Sign kernel
      run: codesign -s - --entitlements entitlements.plist dist/Obliteration.app/Contents/MacOS/obkrnl
    - name: Create Apple Disk Image
      run: hdiutil create -volname Obliteration -srcfolder dist Obliteration.dmg
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: obliteration-mac-intel
        path: Obliteration.dmg
    - name: Cache Cargo home
      uses: actions/cache/save@v4
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
    - name: Cache Qt
      uses: actions/cache/save@v4
      with:
        path: qt
        key: ${{ steps.cache-keys.outputs.qt }}
      if: startsWith(github.ref, 'refs/heads/') && steps.qt-cache.outputs.cache-hit != 'true'
