name: CI (Mac)
on:
  workflow_call:
    inputs:
      kernel-target:
        type: string
        required: true
env:
  CMAKE_BUILD_PARALLEL_LEVEL: "3"
jobs:
  build:
    name: Mac M1
    runs-on: macos-14
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Use Python 3.12 # https://github.com/slint-ui/slint/issues/6615
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Update Rust
      run: rustup update stable
    - name: Install Rust nightly
      run: rustup toolchain install nightly
    - name: Install additional Rust components
      run: rustup component add rust-src --toolchain nightly
    - name: Install additional Rust targets
      run: rustup target add ${{ inputs.kernel-target }}
    - name: Build
      run: ./build.py -r
    - name: Run tests
      run: cargo test --workspace --exclude gui --exclude kernel
    - name: Create Apple Disk Image
      run: hdiutil create -volname Obliteration -srcfolder dist Obliteration.dmg
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: obliteration-mac-m1
        path: Obliteration.dmg
