name: CI (Windows)
on:
  workflow_call:
jobs:
  build:
    name: Windows
    runs-on: windows-2022
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Generate cache keys
      run: |
        echo "target=${{ runner.os }}-target-${{ hashFiles('Cargo.lock') }}" >> $env:GITHUB_OUTPUT
        echo "vulkan=${{ runner.os }}-vulkan-1.3.290.0" >> $env:GITHUB_OUTPUT
      id: cache-keys
    - name: Restore Vulkan SDK
      uses: actions/cache/restore@v4
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      id: restore-vulkan
    - name: Install Vulkan SDK
      run: |
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.3.290.0/windows/VulkanSDK-1.3.290.0-Installer.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --root C:\VulkanSDK --accept-licenses --default-answer --confirm-command install
        echo "new-install=true" >> $env:GITHUB_OUTPUT
      id: install-vulkan
      if: ${{ steps.restore-vulkan.outputs.cache-hit != 'true' }}
    - name: Set Vulkan SDK path
      run: echo "VULKAN_SDK=C:\VulkanSDK" >> $env:GITHUB_ENV
    - name: Restore target directory
      uses: actions/cache/restore@v4
      with:
        path: target
        key: ${{ steps.cache-keys.outputs.target }}
    - name: Update Rust
      run: rustup update stable
    - name: Add additional Rust targets
      run: rustup target add x86_64-unknown-none
    - name: Install additional tools
      run: cargo install project
    - name: Build
      run: project build -r
    - name: Run tests
      run: cargo test
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: obliteration-win-x64
        path: dist
    - name: Cache target directory
      uses: actions/cache/save@v4
      with:
        path: target
        key: ${{ steps.cache-keys.outputs.target }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
    - name: Cache Vulkan SDK
      uses: actions/cache/save@v4
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      if: startsWith(github.ref, 'refs/heads/') && steps.install-vulkan.outputs.new-install == 'true'
