name: CI (Windows)
on:
  workflow_call:
jobs:
  build:
    name: Windows
    runs-on: windows-2022
    env:
      CMAKE_BUILD_PARALLEL_LEVEL: '2'
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Generate cache keys
      run: |
        echo "cargo=${{ runner.os }}-cargo" >> $env:GITHUB_OUTPUT
        echo "qt=${{ runner.os }}-qt" >> $env:GITHUB_OUTPUT
        echo "vulkan=${{ runner.os }}-vulkan-1.3.239.0" >> $env:GITHUB_OUTPUT
        echo "build=${{ runner.os }}-build-files-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake', 'CMakePresets.json') }}" >> $env:GITHUB_OUTPUT
      id: cache-keys
    - name: Restore Cargo home
      uses: actions/cache/restore@v3
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}
    - name: Install Qt
      uses: jurplel/install-qt-action@latest
      with:
        version: 6.*
        cache: true
        cache-key-prefix: ${{ steps.cache-keys.outputs.qt }}
    - name: Restore Vulkan SDK
      uses: actions/cache/restore@v3
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      id: restore-vulkan
    - name: Install Vulkan SDK
      run: |
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.3.239.0/windows/VulkanSDK-1.3.239.0-Installer.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --root C:\VulkanSDK --accept-licenses --default-answer --confirm-command install
        echo "new-install=true" >> $env:GITHUB_OUTPUT
      id: install-vulkan
      if: ${{ steps.restore-vulkan.outputs.cache-hit != 'true' }}
    - name: Set Vulkan SDK path
      run:  echo "VULKAN_SDK=C:\VulkanSDK" >> $env:GITHUB_ENV
    - name: Restore build files
      uses: actions/cache/restore@v3
      with:
        path: |
          build
          src/target
        key: ${{ steps.cache-keys.outputs.build }}
    - name: Run CMake
      run: cmake --preset windows-release .
    - name: Build
      run: cmake --build --preset windows-release
    - name: Run Clippy
      run: cargo clippy --release
      working-directory: src
    - name: Export artifacts
      run: cmake --install build --prefix dist
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: obliteration-win-x64
        path: dist
    - name: Cache build files
      uses: actions/cache/save@v3
      with:
        path: |
          build
          src/target
        key: ${{ steps.cache-keys.outputs.build }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
    - name: Cache Vulkan SDK
      uses: actions/cache/save@v3
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      if: startsWith(github.ref, 'refs/heads/') && steps.install-vulkan.outputs.new-install == 'true'
    - name: Cache Cargo home
      uses: actions/cache/save@v3
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
