name: CI (Windows)
on:
  workflow_call:
jobs:
  build:
    name: Windows
    runs-on: windows-2019 # Qt 6.2 only support MSVC 2019.
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        cache: true
        cache-key-prefix: ${{ runner.os }}-install-qt-action
        version: 6.2.*
    - name: Install Vulkan SDK
      run: |
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.3.224.1/windows/VulkanSDK-1.3.224.1-Installer.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --root C:\VulkanSDK  --accept-licenses --default-answer --confirm-command install
        echo "VULKAN_SDK=C:\VulkanSDK" >> $env:GITHUB_ENV 
    - name: Cache Vulkan SDK
      uses: actions/cache@v3.0.11
      with:
        path: C:\VulkanSDK
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-vulkanSDK
    - name: Initialize VCPKG
      run: .\vcpkg\bootstrap-vcpkg.bat
    - name: Install VCPKG packages
      run: .\vcpkg-restore.ps1
    - name: Run CMake
      run: cmake -B build -A x64
    - name: Build
      run: cmake --build build --config Release
    - name: Export artifacts
      run: cmake --install build --prefix dist
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: obliteration-win64
        path: dist
