name: CI (Windows)
on:
  workflow_call:
env:
  CMAKE_BUILD_PARALLEL_LEVEL: '2'
jobs:
  llvm:
    name: LLVM for Windows
    runs-on: windows-2022
    outputs:
      dist-key: ${{ steps.cache-keys.outputs.dist }}
    steps:
    - name: Hash LLVM
      run: |
        $url = "https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.5/llvm-project-17.0.5.src.tar.xz"
        $urlhash = [System.BitConverter]::ToString([System.Security.Cryptography.SHA256]::Create().ComputeHash([System.Text.Encoding]::UTF8.GetBytes($url))).Replace("-", "").ToLower()
        echo "llvmurl=$url" >> $env:GITHUB_OUTPUT
        echo "hash=$urlhash" >> $env:GITHUB_OUTPUT
      id: download
    - name: Generate cache keys
      run: echo "dist=${{ runner.os }}-llvm-${{ steps.download.outputs.hash }}" >> $env:GITHUB_OUTPUT
      id: cache-keys
    - name: Check cached artifacts
      uses: actions/cache/restore@v3
      with:
        path: lib/llvm
        key: ${{ steps.cache-keys.outputs.dist }}
        lookup-only: true
      id: cache
    - name: Download LLVM
      run: |
        Invoke-WebRequest -Uri ${{ steps.download.outputs.llvmurl }} -OutFile llvm.tar.xz
        unxz llvm.tar.xz
        tar -x --strip-components=1 -f llvm.tar
      if: ${{ steps.cache.outputs.cache-hit != 'true' }}
    - name: Run CMake
      run: cmake --install-prefix ${{ github.workspace }}/lib/llvm -Wno-dev -DLLVM_ENABLE_ZSTD:BOOL=OFF -DLLVM_APPEND_VC_REV:BOOL=OFF -DLLVM_TARGETS_TO_BUILD:STRING=X86 -B build llvm
      if: ${{ steps.cache.outputs.cache-hit != 'true' }}
    - name: Build
      run: cmake --build build --config Release
      if: ${{ steps.cache.outputs.cache-hit != 'true' }}
    - name: Export artifacts
      run: cmake --install build --config Release
      if: ${{ steps.cache.outputs.cache-hit != 'true' }}
    - name: Cache artifacts
      uses: actions/cache/save@v3
      with:
        path: lib/llvm
        key: ${{ steps.cache-keys.outputs.dist }}
      if: ${{ steps.cache.outputs.cache-hit != 'true' }}
  build:
    name: Windows
    runs-on: windows-2022
    needs: llvm
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Download LLVM
      uses: actions/cache/restore@v3
      with:
        path: lib/llvm
        key: ${{ needs.llvm.outputs.dist-key }}
        fail-on-cache-miss: true
    - name: Generate cache keys
      run: |
        echo "cargo=${{ runner.os }}-cargo" >> $env:GITHUB_OUTPUT
        echo "vulkan=${{ runner.os }}-vulkan-1.3.239.0" >> $env:GITHUB_OUTPUT
      id: cache-keys
    - name: Install Qt
      run: |
        Invoke-WebRequest `
          -Uri "https://download.qt.io/online/qtsdkrepository/windows_x86/desktop/qt6_660/qt.qt6.660.win64_msvc2019_64/6.6.0-0-202310040911qtbase-Windows-Windows_10_22H2-MSVC2019-Windows-Windows_10_22H2-X86_64.7z" `
          -OutFile qt-base.7z
        Invoke-WebRequest `
          -Uri "https://download.qt.io/online/qtsdkrepository/windows_x86/desktop/qt6_660/qt.qt6.660.win64_msvc2019_64/6.6.0-0-202310040911qtsvg-Windows-Windows_10_22H2-MSVC2019-Windows-Windows_10_22H2-X86_64.7z" `
          -OutFile qt-svg.7z
        7z x qt-base.7z -oqt
        7z x qt-svg.7z -oqt
        echo "CMAKE_PREFIX_PATH=qt\6.6.0\msvc2019_64" >> $env:GITHUB_ENV
    - name: Restore Cargo home
      uses: actions/cache/restore@v3
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}
    - name: Restore Vulkan SDK
      uses: actions/cache/restore@v3
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      id: restore-vulkan
    - name: Install Vulkan SDK
      run: |
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.3.239.0/windows/VulkanSDK-1.3.239.0-Installer.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --root C:\VulkanSDK --accept-licenses --default-answer --confirm-command install
        echo "new-install=true" >> $env:GITHUB_OUTPUT
      id: install-vulkan
      if: ${{ steps.restore-vulkan.outputs.cache-hit != 'true' }}
    - name: Set Vulkan SDK path
      run:  echo "VULKAN_SDK=C:\VulkanSDK" >> $env:GITHUB_ENV
    - name: Run CMake
      run: cmake -DOB_BUILD_LLVM:BOOL=OFF --preset windows-release .
    - name: Build
      run: cmake --build --preset windows-release
    - name: Run tests
      run: cargo test --workspace --exclude core
      working-directory: src
    - name: Run Clippy
      run: cargo clippy --release
      working-directory: src
    - name: Export artifacts
      run: cmake --install build --prefix dist
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: obliteration-win-x64
        path: dist
    - name: Cache Vulkan SDK
      uses: actions/cache/save@v3
      with:
        path: C:\VulkanSDK
        key: ${{ steps.cache-keys.outputs.vulkan }}
      if: startsWith(github.ref, 'refs/heads/') && steps.install-vulkan.outputs.new-install == 'true'
    - name: Cache Cargo home
      uses: actions/cache/save@v3
      with:
        path: ~/.cargo
        key: ${{ steps.cache-keys.outputs.cargo }}-${{ github.run_id }}
      if: startsWith(github.ref, 'refs/heads/')
