name: PR Build
on:
  pull_request:
    branches:
    - '*'
concurrency: pr-${{ github.ref }}
jobs:
  prebuild:
    name: Pre build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
    - name: Check Rust styles
      run: cargo fmt --check
      working-directory: src
  build-windows:
    name: Build
    uses: ./.github/workflows/ci-windows.yml
    needs: prebuild
  build-linux:
    name: Build
    uses: ./.github/workflows/ci-linux.yml
    needs: prebuild
  build-mac:
    name: Build
    uses: ./.github/workflows/ci-mac.yml
    needs: prebuild
  build-web:
    name: Build
    uses: ./.github/workflows/ci-web.yml
    needs: prebuild
  postbuild:
    name: Post build
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux, build-mac, build-web]
    steps:
    - name: Generate build information
      run: |
        import json

        info = {
          "pr": ${{ github.event.number }},
          "base": "${{ github.base_ref }}",
          "head": "${{ github.event.pull_request.head.sha }}",
          "author": "${{ github.event.pull_request.head.user.login }}"
        }

        with open("build-info.json", "w") as fp:
          json.dump(info, fp)
      shell: python
    - name: Upload build information
      uses: actions/upload-artifact@v4
      with:
        name: build-info
        path: build-info.json
