name: Prebuild Quality Checks
on:
  workflow_call:
jobs:
  rustfmt:
    name: Rustfmt Check
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Run RustFMT Check
      run: cd src && cargo fmt --check
  rust-clippy:
    name: Rust-Clippy Check
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Run RustFMT Check
      run: cd src && cargo clippy
